<html>
<head>
    <title>Test Multi 5</title>
</head>

<body>
<p>Inserito : {{ Multi5.inserito }}</p>
<p>Multi5(Calcolato nella vista) : {{ Multi5.doMulti5 }}</p>
<p>Multi5(Calcolato nel controller) : {{ Risultato }}</p>
</body>
</html>